 <style>
    .card {
      border-radius: 10px;
      border: solid 2px gray;
      width: 600px;
    }
  
    .row{
      padding-left: 300px;
    }
  
    input{
      border-color: darkgray;
    }
</style>

<div class="container">
    <div class="row align-items-center vh-100">
  <div class="card">
    <div class="card-text"><h4>Sign Up</h4></div>
    <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">   
            <div class="col-sm-9">
                <input type="text" id="firstName" class="form-control" formControlName="firstName"/>
                <label class="form-label" for="firstName">First Name</label>
            </div>
            <!-- <div *ngIf="signinForm.controls['emailAddress'].invalid && (signinForm.controls['emailAddress'].dirty || signinForm.controls['emailAddress'].touched)" class="alert alert-danger">
              <div *ngIf="signinForm.controls['emailAddress'].errors">
                Email Address is required.
              </div>
          </div> -->

            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" formControlName="lastName"/>
                <label class="form-label" for="lastName">Last Name</label>
            </div>
            <div class="col-sm-9">
                <input type="email" id="emailAddress" class="form-control" formControlName="emailAddress"/>
                <label class="form-label" for="emailAddress">Email Address</label>
            </div>
            <div class="col-sm-9">
                <input type="password" id="password" class="form-control" formControlName="password"/>
                <label class="form-label" for="password">Password</label>
            </div>
            <div class="col-sm-9">
                <input type="password" id="conformPassword" class="form-control" formControlName="conformPassword"/>
                <label class="form-label" for="conformPassword">Conform Password</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button> 
                <span style="padding-left: 20px; padding-right: 15px;">If you have already an account</span> 
                <span style="padding-right:100px;">
                <a class="btn btn-primary btn-block mb-4" routerLink="/auth/signin">Sign In</a></span>
            </div>
          </form> 
    </div>
  </div>
</div>
</div>